<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div
    class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <a>
      <div
        class="flex items-center bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-xl font-bold text-transparent"
      >
        Linky
      </div>
    </a>
    <nav>
      <ul class="flex gap-x-3 font-medium text-gray-400">
        <li class="hover:text-white">
          <a href="https://www.linkedin.com/in/marcoswferreira/">GitHub</a>
        </li>
        <li class="hover:text-white">
          <a href="https://github.com/MarcosFerreira17">Linkedin</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="text-center text-white py-20 px-6">
  <h3 class="text-3xl font-bold text-gray-500 mb-0">The</h3>
  <h1
    class="text-5xl bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text font-bold text-transparent mt-0 mb-3"
  >
    <span
      class="inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-600 text-white rounded"
      >URL</span
    >
    Shortener
  </h1>
  <span class="text-3 font-thin text-gray-400 mb-8"
    >Shorten your link with ease and share your link via SMS or scan QR
    code</span
  >
</div>
<div class="flex justify-center">
  <div class="mb-3 xl:w-96">
    <div class="input-group relative flex flex-auto items-stretch w-full mb-4">
      <input
        type="text"
        class="form-control relative flex-auto min-w-0 block w-full px-8 py-4 text-base font-normal text-gray-700 bg-gray-800 bg-clip-padding border border-solid border-gray-700 rounded transition ease-in-out m-0 focus:text-white focus:border-blue-600 focus:outline-none"
        placeholder="Insert here your link"
        aria-label="Insert here your link"
        aria-describedby="button-addon3"
      />
      <button
        class="btn inline-block px-6 py-2 text-white font-bold 'text-xs leading-tight rounded bg-blue-600 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
        type="submit"
        id="button-addon3"
      >
        Shorten
      </button>
    </div>
    <div class="flex justify-center">
      <span class="inline-grid grid-cols-1 gap-2 mt-72 text-center">
        <span class="text-3 font-thin text-gray-400 mb-0"
          >Try shorten your URL</span
        >
        <span class="text-3 font-thin text-gray-400">it's free</span>
      </span>
    </div>
  </div>
</div>
